/* CSS declarations go here */

body {
  text-align: center;
}

#container {
	min-height: 800px;
}

img.avatar-layer {
	width: 100%;
	display: block;
}

.item-thumbnail {
	border: 1px dotted;
}

canvas {
	border: 1px dotted;
}

#item-menu, #avatar-display {
	display: inline-block;
	vertical-align: top;
}