#avatar-menu {
	max-width: 300px;
}

#sort-dropdown {
	margin-bottom: 20px;
}

#sort-dropdown, #sort-dropdown-button {
	width: 100%;
}

#item-search > div {
	display: inline-block;
	margin-bottom: 20px;
}

#searchbar { 
    position: relative;
    margin-right:4px; 
}

#searchbar .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

#searchbar .glyphicon.left {
	left:  0px;
}
#searchbar .glyphicon.right {
	right: 0px;
}

#searchbar input {
	padding-left:  30px;
	padding-right: 30px;
}